body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
    border: 5px solid #fff;
}

canvas {
    background-color: #010101;
}
